<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="biz.r8b.twitter.basic"
      android:installLocation="auto"
      android:versionName="1.0.54" android:versionCode="54">
    <uses-sdk android:minSdkVersion="10" />


	<!-- ==================== PERMISSION ==================== -->
<!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->

<!--  <uses-permission android:name="android.permission.CAMERA"/> -->
<!--  <uses-feature android:name="android.hardware.camera" /> -->
<!--  <uses-feature android:name="android.hardware.camera.autofocus" /> -->
<!--  <uses-feature android:name="android.hardware.camera.flash" /> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.VIBRATE" />
	<!-- ==================== PERMISSION ==================== -->







    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">

      <activity android:name="TwBootActivity"
                  android:label="@string/app_name"

                  android:clearTaskOnLaunch="true"
                  android:launchMode="singleInstance"
                  android:noHistory="false"
                  android:stateNotNeeded="true"
                  android:finishOnTaskLaunch="false"
            >

      </activity>

      <activity android:name=".VPMainActivity"
                  android:label="@string/app_name"
        >
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      </activity>

      <activity android:name="HintActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent"
	  />

      <activity android:name="TwSearchUsersActivity"
                android:label="@string/app_name"
	  />

      <activity android:name="TwSearchPhotosActivity"
                android:label="@string/app_name"
	  />

      <activity android:name="SwipeActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden|"
	  />

      <activity android:name="TwWidgetActivity"
                android:label="@string/app_name"

	  />

      <activity android:name="TwTimelineActivity"
                  android:label="@string/app_name"

       />

      <activity android:name=".TwQueryListActivity_old"
                android:label="@string/app_name"

   		/>

      <activity android:name=".TwQueryListActivity"
                android:label="@string/app_name"
   		/>

      <activity android:name="TwQueryResultActivity"

      />

      <activity android:name="TwSiriActivity"

		android:launchMode="singleTop"
	  />

	  <activity android:name="Twitter4JUserStreamActivity"

		android:launchMode="singleTop"
	  />

	  <activity android:name="TwSkinActivity"

	  />

	  <activity android:name="TwTweetActivity"

	  />
	  <!--   activity android:name="TimelineTab1Activity"/ -->
	  <activity android:name="TwAtActivity"

	  />

	  <activity android:name="TwFavoritesActivity"

	  />

	  <activity android:name="TwWatchlaterActivity"

	  />

	  <activity android:name=".TwIntentActivity"
	      android:exported="true">
			<intent-filter>
	               <action android:name="android.intent.action.VIEW" />
	               <category android:name="android.intent.category.DEFAULT" />
	               <data android:scheme="https" />
	               <data android:host="mobile.twitter.com" />
	               <data android:pathPrefix="/" />
	        </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
	  </activity>

	  <activity android:name="TwDMNewActivity"

	  />

	  <activity android:name="TwTweetTabActivity"

	  />

	  <activity android:name="TwOptionMenuActivity"

	  />

	  <activity android:name="NotifyBootActivity"

	  />

	  <activity android:name="NotifyBootHomeActivity"

	  />


      <activity android:name="TwUserTimelineActivity"

      />

      <activity android:name="TwDMActivity"

      />

	  <activity android:name="TabTimelineActivity"

      />

      <activity android:name="TwListTab1Activity"

      />

      <activity android:name="TwListTab2Activity"

      />

      <activity android:name=".Auth"

      />

      <activity android:name="TwCameraActivity"
                android:screenOrientation="landscape"
                android:noHistory="true"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      />

      <activity android:name="TwCameraImageActivity"
      			android:noHistory="true"
                android:launchMode="singleInstance"

      />

      <activity android:name="TwCameraGalleryActivity"

      />

      <activity android:name="TwReplyActivity"

      />

      <activity android:name="_WFrameActivity"

      />

      <activity android:name="_WFrameBrowserActivity"

      />

      <activity android:name="TwListEditActivity"

      />

      <activity android:name="TwListSampleActivity"

      />

	  <activity android:name="DemoActivity"/>
      <activity android:name=".AudioActivity"/>




<!--
    <service
        android:name="WallpaperHachuneService"
        android:label="@string/wallpaper_name"
        android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action
            android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>
    <activity
        android:label="@string/wallpaper_settings"
        android:name=".WallpaperHachuneSettings"
        android:theme="@android:style/Theme.Light.WallpaperSettings"
        android:exported="true">
    </activity>
-->






    <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>


		<receiver android:name="GudonReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
				<action android:name="android.net.wifi.ACTION_AIRPLANE_MODE_CHANGED" />
				<action android:name="android.net.wifi.ACTION_BATTERY_CHANGED" />
			</intent-filter>
		</receiver>
        <service android:name="MyService" />



       <activity android:name=".dungeons.Dungeons"/>
       <service android:name=".dungeons.BillingService" />
       <receiver android:name=".dungeons.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
       </receiver>

        <!-- widgjet -->
        <receiver android:name=".AppWidgetEx" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetex"/>
        </receiver>
        <service android:name=".AppWidgetService">
            <intent-filter>
                <action android:name="biz.r8b.twitter.basic.ACTION_BTNCLICK2" />
                <action android:name="biz.r8b.twitter.basic.ACTION_BTNCLICK" />
                </intent-filter>
        </service>



    </application>


</manifest>